<% provide(:title, '个人信息') %>

<%= render 'shared/setting_nav' %>

<h2>个人信息</h2>
<%= simple_form_for @user, html: { class: "form-horizontal"} do |f| %>
  <div class="col-sm-8 col-sm-offset-2">
    <%= f.input :name, input_html: { maxlength: 20 } %>	    

    <br/>
    <%= user_avatar(@user.avatar_path, '100x100', 'show_cover_path') %>
	<%= f.input :avatar_path, input_html: { id: "avatar_path", readonly: true } %>
    <a class="btn btn-info" id="pickfiles">更换头像</a>

    <%= f.simple_fields_for :info do |build| %>
    	<%= build.input :gender, as: :radio_buttons, collection: [['boy', '男'], ['girl', '女'], ['secrecy', '保密']], 
    					label_method: :last, value_method: :first %>
    	<%= build.input :website %>
    	<%= build.input :resume %>
    <% end %>

	</br></br></br>
    <%= f.button :submit, "保存", class: 'btn-lg btn-block' %>
  </div>
<% end %>

<%= javascript_include_tag 'upload/image_upload' %>
<script>
	$(function (){
		imageUpload.coverUploader('pickfiles', $('#show_cover_path'), $('#avatar_path'));
	});
</script>