<div class="comment-body col-md-12 col-lg-10 col-md-offset-1">
  <div class="comment-list" data-users="<%= comments.map {|c| c.user.name}.uniq %>">
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <div class="comment">
          <%= comment.user.name %>
          <%= emojify(sanitize(comment.content_html)) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="comment-form">
    <%= simple_form_for [product, comment] do |f| %>
      <%= f.input :content, as: :text, input_html: {rows: 8} %>
      <%= f.button :submit, "ä¿å­˜" %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    data = $(".comment-list").data("users");
    $('textarea').atwho({at:"@", 'data':data});
  });
</script>