<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		body {
			background: url(<%= asset_path 'cover_home.jpg' %>) no-repeat center center fixed; 
			-webkit-background-size: cover; 
			-moz-background-size: cover; 
			-o-background-size: cover;
			background-size: cover; 
		}
		.cover-login {
			background-color: white;
			width: 360px;
			text-align: center;
			line-height: 50px;
			border: 5px solid #dedede;
    	-moz-border-radius: 15px;      /* Gecko browsers */
    	-webkit-border-radius: 15px;   /* Webkit browsers */
    	border-radius:15px;            /* W3C syntax */
		}
		.login-way {
			list-style: none;
		}
		</style>
	</head>

		<body>
			<div class="cover-login">
				<ul class="login-way">
					<li><%= link_to "Email登录", login_path %></li>
	    		<li><%= link_to "注册", new_user_path %></li>
	    		<li><%= link_to "微博登录", "/auth/weibo" %></li>
	    		<li><%= link_to "qq登录", "/auth/qq_connect" %></li>
	    		<li><%= link_to "豆瓣登录", "/auth/douban" %></li>
	    		<li><%= link_to "github登录", "/auth/github" %></li>
	    		<li><%= link_to "随便看看", posts_path %></li>
    		</ul>
			</div>
		</body>
</html>