<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>创客家族 - 首页</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "single/cover_home_v2" %>
    <%= stylesheet_link_tag "doc/top_pmgressbar/pace-theme-flash" %>
    <%= javascript_include_tag 'doc/top_pmgressbar/pace.min' %>
</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ 创客家族 ]</span></h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>让商业 <strong>更加简单</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="<%= new_user_path %>">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <%= simple_form_for :session, url: sessions_path do |f| %>
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">还不快登录?</p>
                    <%= f.input :name, input_html: { maxlength: 50, class: 'form-control uname', placeholder: "用户名" }, label: false, autofocus: true %>
                    <%= f.input :password, input_html: { maxlength: 30, class: 'form-control pword m-b', placeholder: "密码" }, label: false %>
                    <a href="">忘记密码了？</a>
                    <%= f.button :submit, "登录", class: 'btn btn-success btn-block', data: { disable_with: '登录中...' } %>
                <% end %>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015 All Rights Reserved. xxx
            </div>
        </div>
    </div>
</body>

</html>