<!DOCTYPE html>
<html>
	<head>
		<body style="background: url(<%= asset_path 'cover_home.jpg' %>) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center;">
			<div class="cover_login">
				<li><%= link_to "Email登录", login_path %></li>
    		<li><%= link_to "注册", new_user_path %></li>
    		<li><%= link_to "微博登录", "/auth/weibo" %></li>
    		<li><%= link_to "qq登录", "/auth/qq_connect" %></li>
    		<li><%= link_to "github登录", "/auth/github" %></li>
			</div>
		</body>
	</head>
</html>