<% provide(:title, '创意详情') %>

<%= link_to "返回列表", products_path, class: "btn btn-info" %>

<div class="post-entry col-md-12 col-lg-12">
	<div class="post-title">
		<%= @product.title %>
	</div>

	<div class="row">
		<article class="col-sm-12 col-md-7 col-md-offset-1 post-content">
			<%= image_tag @product.cover_path_with_size("640", "300") %>
			<%= sanitize @product.describe %>
		</article>
		<%= render partial: 'shared/function_tips', locals: {type: "collect", product: @product} %>
		<%= render partial: 'shared/function_tips', locals: {type: "info", product: @product} %>
		<%= render partial: 'shared/function_tips', locals: {type: "category", product: @product} %>
	</div>
</div>

<%= render partial: 'shared/comments', locals: {comments: @comments, comment: @comment, product: @product} %>
