<!DOCTYPE html>
<html>
<head>
  <title>后台管理</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <%= link_to "创客家族", admin_dashboard_path, class: "navbar-brand" %>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">产品 <span class="caret"></span></a>
					  <ul class="dropdown-menu" role="menu">
					  	<%= nav_link '标签管理', admin_categories_path, 'active_dropdown_menu', true %>
					  	<%= nav_link '商品管理', "#", 'active_dropdown_menu', true %>
					  </ul>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">日知管理 <span class="caret"></span></a>
					  <ul class="dropdown-menu" role="menu">
					  	<%= nav_link '首页推荐滚动信息', admin_roll_nav_infos_path, 'active_dropdown_menu', true %>
					  </ul>
					</li>
	      	<%= nav_link 'Link', "#", 'active', true %>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><%= current_user.email %></a></li>
	        <li><%= link_to "主页", root_path %></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<!-- 顶部提示 -->
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>

		<%= yield %>
	</div>
	<!-- footer -->
	<%= render 'layouts/footer' %>
	<script>
		$.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
	</script>
	<%= yield :script %>
</body>
</html>
