<!DOCTYPE html>
<html>
<head>
  <title>微店</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<!-- header -->
	<%= render 'layouts/header' %>
	
	<div class="container">
		<!-- 顶部提示 -->
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
		<% end %>

		<%= yield %>
	</div>
	<!-- footer -->
	<%= render 'layouts/footer' %>
	
</body>
</html>
