<!DOCTYPE html>
<html>
<head>
  <title>Free</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		    <div class="navbar-header center-block">
		      <%= link_to "Free", root_path, class: "navbar-brand" %>
		    </div>

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
				  <input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">搜索</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				    <li><a href="#">Link</a></li>
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Free<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="#">Action</a></li>
				        <li><a href="#">Another action</a></li>
				        <li><a href="#">Something else here</a></li>
				        <li class="divider"></li>
				        <li><%= link_to "退出", logout_path, method: :delete %></li>
				      </ul>
				    </li>
				<% else %>
				    <li class="dropdown">
				    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    		登录<span class="caret"></span>
				    	</a>
				    	<ul class="dropdown-menu" role="menu">
				    		<li><%= link_to "Email登录", login_path %></li>
				    		<li><%= link_to "注册", new_user_path %></li>
				    	</ul>
				    </li>
				<% end %>
			</ul>
    	</div><!-- /.navbar-collapse -->
	</nav>
	
	<div class="container">
		<!-- 顶部提示 -->
		<% if flash.present? %>
			<% flash_type = flash.keys.first %>
			<%= content_tag :div, flash[flash_type], class: "alert alert-#{flash_type}" %>
		<% end %>
		<%= yield %>
	</div>

	<!-- footer -->
</body>
</html>
